.questionContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
}

.nameInput, .foundersInput, .industryInput, .estInput, .phoneInput, .emailInput, .addressInput, .cityInput, .postalInput, .websiteInput, .linkedinInput {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 300px;
    height: 50px;
}

.attachmentsInput {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 300px;
    height: 50px;
    margin-top: 10px;
}

.stateInput, .countryInput {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 60px;
    height: 30px;
}

.createdByInput {
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 500px;
    height: 50px;
    margin-top: 10px;
    padding-top: 10px;
}

#estInput {
    height: 60px;
    width: 150px;
}

#postalInput {
    height: 40px;

}

#nameInput, #foundersInput, #industryInput, #phoneInput, #emailInput, #addressInput, #cityInput, #websiteInput, #linkedinInput  {
    height: 40px;
}

#attachmentsInput {
    height: 40px;
}

#createdByInput {
    width: 150px;
}

#generalInfo, #contactInfo {
    margin-top: 20px;
}

label {
    color: grey;
    font-weight: 100;
}