body {
    background-color: lightgray;
}

h3 {
    margin-top: 10px;
}

.kpis {
    width: 90%;
    margin: 30px auto;
}

.kpisRow {
    display: flex;
    justify-content: space-between;
}

.kpiBlock {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 7px;
    border-radius: 3px;
    border: 1.4px solid #624484;
    box-shadow: 0 0 5px;
}

.helperText {
    font-style: italic;
    margin-top: -7px;
}