body {
    background-color: lightgray;
}

.kpis {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
}

.kpisRow {
    display: flex;
    justify-content: space-between;
}

.kpiBlock {
    text-align: center;
    background-color: white;
    margin: 7px;
    border-radius: 3px;
    border: 1px solid black;
}