.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.multiLines {
    align-items: flex-start;
}

.section-item {
    margin-right: 30px;
    width: 160px;
}

.notes {
    width: 80%;
}

.scoreBox {
    border: 1px solid transparent;
    padding: 10px;
    width: 60px;
    box-shadow: 0 0 3px black;
}

.scoreBox > p {
    font-size: 22px;
    text-align: center;
    margin: 0;
}

.overallScore {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.section-logo {
    margin-right: 20px;
    width: 100px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.withBtn {
    align-items: center;
    justify-content: space-between;
}

.separator {
    border-top: 1px solid gray;
    margin-top: 20px;
}

.marginRight {
    margin-right: 20px;
}

.btn-warning {
    font-size: 20px;
    background-color: #f89939;
    border-color: #de7308;
    padding: 12px;
    margin-bottom: 20px;
}

.btn-warning:hover, .btn-warning:focus {
    background-color: #de7308;
    border-color: #de7308;
}

.btn-warning:active, .btn-warning:visited, .btn-warning:active:focus, .btn-warning:active:hover {
    background-color: #de7308;
    border-color: #de7308;
}