.whiteBackground {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 40px;
    border-radius: 3px;
    border: 1.4px solid #624484;
    box-shadow: 0 0 5px;
}

.whiteBackground h1 {
    margin-top: 10px;
}

.singleOpp {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
    align-items: center;
}

.btn-view {
    font-size: 16px;
    padding: 8px;
    margin-bottom: 0;
}